.gameDiv {
    height: 100%;
    width: 100%;
    background-image: url(../src/assets/game-bg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cards {
    padding: 0.5rem;

}